
.section-head h2 { font: 30px/42px montserrat-bold, sans-serif; }
.desc { font: 14px/24px opensans-regular, sans-serif; }
.intro { font: 20px/36px opensans-light, sans-serif; }

/* Left clearing for flexible columns - columns that changes width in
different screen sizes. Makes columns with different heights align
properly.
--------------------------------------------------------------------- */
.first { clear: left; }   /* first column in default screen */
.m-first { clear: none; } /* first column in medium size screens */

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides, .flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; }

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
    content: " ";
    display: table;
}
.slides:after {
    clear: both;
}

/* ================================================================== */

/* b. Header Styles

/* ================================================================== */

header {
   height: 54px;
   width: 100%;
   z-index: 99999;
   background: url(../images/k-opacity-70.png);

   position: fixed;
   top: 0;
   left: 0;
}
header.static {
   background: #232629;
   position: static;
}

/* header logo */
header .logo {
   position: relative;
   height: 54px;
   width: 150px;
   float: left;
}
header .logo a {
   display: block;
   padding: 0;
   margin: 0;
   height: 18px;
   width: 91px;
   line-height: 18px;

   position: absolute;
   left: 12px;
   top: 16px;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
	position: relative;
   font: 13px opensans-regular, sans-serif;
   float: left;
}

/* hide toggle button */
#nav-wrap > a { display: none; }

ul#nav {
   min-height: 54px;
   width: auto;

   /* left align the menu */
   text-align: left;
}
ul#nav li {
	position: relative;
	list-style: none;
   height: 54px;

   display: inline-block;
}
ul#nav > li.active a {
   background: #11ABB0;
   color: #fff !important;
}

/* Links */
ul#nav li a {
   display: block;
   padding: 0 14px;
   line-height: 54px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li:hover > a,
ul#nav li.active a { color: #11ABB0; }

@media only screen and (max-width: 836px) {

   .intro, .testimonies .client-cite { font-size: 18px; }

   .slider-text h2 { font: 48px/66px montserrat-regular, Sans-serif; }

@media only screen and (max-width: 767px) {

   /* center align some text */
   .section-head, .intro, #about h3,
   #journal .entry-header {
      text-align: center;
   }


   header.mobile { height: 66px; }
   header.mobile .logo a { top: 22px; }

   .mobile #nav-wrap {
      position: absolute;
      top: 0;
      right: 20px;
      width: auto;
      margin: 0;
   }
   .mobile #nav-wrap > a {
	   width: 48px;
		height: 48px;
		text-align: left;
		background-color: #11ABB0;
		position: relative;
      border: none;
      float: right;

      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      }

	.mobile #nav-wrap > a:before,
   .mobile #nav-wrap > a:after {
	   position: absolute;
		border: 2px solid #fff;
		top: 35%;
		left: 25%;
		right: 25%;
		content: '';
	}
   .mobile #nav-wrap > a:after { top: 60%; }

}

@media only screen and (max-width: 460px) {

   .slider-text { margin-top: 108px; margin-bottom: 36px; }
   .slider-text h2 { font: 32px/42px montserrat-regular, sans-serif; }
   .slider-text p {
      font: 12px/24px opensans-regular, sans-serif;
      margin-top: 24px;
   }



