.section-head h2 { font: 30px/42px montserrat-bold, sans-serif; }
.desc { font: 14px/24px opensans-regular, sans-serif; }
.intro { font: 20px/36px opensans-light, sans-serif; }

.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides, .flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; }

.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }

.flex-container { zoom: 1; position: relative; }

.slides:before,
.slides:after {
    content: " ";
    display: table;
}
.slides:after {
    clear: both;
}

header {
   height: 54px;
   width: 100%;
   z-index: 99999;
   background: url(../images/k-opacity-70.png);

   position: fixed;
   top: 0;
   left: 0;
}
header.static {
   background: #232629;
   position: static;
}

/* ================================================================== */

/* c. Intro Section

/* ================================================================== */

#intro {
   background: #101010;
   overflow: hidden;
}

.slides {
   max-height: 660px;
   overflow: hidden;
}
.slider-text {
	color: #737E8C;
   text-align: center;
   width: 85%;
   margin: 156px auto 66px auto;
}
.slider-text h2 {
   font: 56px/78px montserrat-regular, Sans-serif;
   color: #fff;
   text-shadow: 0px 1px 5px rgba(50, 50, 50, .5);
   padding: 0;
   margin: 0;
}
.slider-text h2 span,
.slider-text a { color: #11ABB0; }

.slider-text p {
   font: 17px/36px opensans-light, sans-serif;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
   padding: 0;
   margin: 18px 10% 0;
}


/* Direction Navigation
--------------------------------------------------------------- */
.flex-direction-nav a {
   display: block;
	width: 40px;
	height: 66px;
	margin: 0;
	background-color: #2D3339;
	cursor: pointer;
	z-index: 99999;
	opacity: 0;
   position: absolute;
	top: 50%;

   font: 0/0 a;
   text-shadow: none;
   color: transparent;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.flex-direction-nav a:hover { background-color: #11ABB0; }

.flex-direction-nav .flex-next {
	right: 0px;
	background: #2D3339 url(../images/direction-nav-right.png) no-repeat 53% 50%;
	position: absolute;
}
.flex-direction-nav .flex-prev {
	left: 0px;
	background: #2D3339 url(../images/direction-nav-left.png) no-repeat 47% 50%;
	position: absolute;
}
.flexslider:hover .flex-next,
.flexslider:hover .flex-prev { opacity: 1; }
.flex-direction-nav .flex-disabled {
   opacity: .3 !important;
   filter: alpha(opacity=30);
   cursor: default;
}


