body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #eeeeee;
  text-align: center;
}

section.content {
  text-align: left;
  width: 70%;
  display: block;
  margin: 0 auto;
}
