#header {
    font-family: "Lucida Console";
}
#header {
    position: fixed;
    background-image:url(http://us.123rf.com/450wm/WDesigns/WDesigns1311/WDesigns131100001/23902445-an-art-deco-style-background-pattern-containing-a-seamless-repeatable-swatch.jpg);
    background-repeat: repeat;
    float: center;
    width: 9000000px; 
    height: 50px;
    left: 0px; 
    top: 0px; 
    z-index: 1;
} 

#sidebar {
    position: fixed;
    height: 9320px;
    right: 0;
    top: 185px;
    width: 75px;
    background-color: pink;
    z-index: 1;
}
