#header {
    font-family: "Lucida Console";
}


#header {
    background-color: #3A3A2F;
} 

#sidebar {
    position: fixed;
    height: 9320px;
    right: 0;
    width: 125px;
    background-color: red;
    z-index: 1;
}
